<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Media Management</title>
    <link href="https://s3.amazonaws.com/dynatable-docs-assets/css/bootstrap-2.3.2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link href="/css/dynatable.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            type="text/javascript"></script>
    <script src="/js/plugins/dynatable.js" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <h1>Uploads</h1>
    <hr>
    <table id="my-table" class="table table-bordered">
        <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>DATE</th>
        <th>DOWNLOAD</th>
        <th>DELETE</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <hr>
    <script type="text/javascript">
        $(function() {
            var table = $('#my-table');
            function updateTable() {
                table.find('td a').click(function () {
                    if (this.firstChild.className === "fa fa-trash-o") {
                        alert(this.id);
                        
                    }
                })
            }
            table.dynatable({
                dataset: {
                    ajax: true,
                    ajaxUrl: '/uploads/files',
                    ajaxOnLoad: true,
                    records: []
                }
            }).bind('dynatable:afterUpdate', updateTable);
        })
        function deleteFile() {
            var confirmation = confirm('Are You Sure?');
            if (confirmation) {
                $.ajax({
                    type: 'DELETE',
                    url: '/uploads/'+this.data('id')
                }).done(function (response) {
                    alert('deleted')
                })
            }
        }
    </script>
</div>
</body>
</html>