body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.file-preview-image {
  width: 100% !important;
}

a, button, .btn {
  cursor: pointer;
}
